/* @use postcss-nested; */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.6rem;
  background: rgb(15, 22, 36);
  color: rgb(242, 245, 247);
  cursor: default;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Space Grotesk', sans-serif;
}

.navbar-nav a:hover {
  color: #ffffff;
}
/* title section */
.container {
  background-color: rgb(15, 22, 36);
  width: 100%;
  max-width: 100%;
}
#title {
  padding: 2% 2%;
  background-color: rgb(15, 22, 36);
  width: 100%;
  margin-bottom: 2px;
  padding-bottom: 1px;
}
.navbar-nav a {
  font-size: 1.25rem;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.4s ease 0s;
}
i:hover {
  color: #dfe4ea;
}
.container-fluid {
  padding: 0% 15% 1%;
  background-color: rgb(15, 22, 36);
  width: 100%;
  max-width: 100%;
}
.title-logo {
  width: 18%;
  height: 10%;
  border-radius: 2em;
}

.navbar-links a {
  margin-left: 10px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.social-icons {
  color: white;
  margin: 20px 10px;
}
.navbar {
  background-color: rgb(15, 22, 36);
  width: 100%;
  padding: 1% 6% 1%;
}
.divnavbar {
  padding: 0% 10% 0%;
}
h2 {
  color: #ffffff;
  padding: 1% 15% 1%;
}
.title-p {
  padding: 1% 15% 1%;
  color: #ffffff;
}
.title-p p {
  max-width: 800px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
  padding-bottom: 3.6rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 0px;
}
.title-p ul {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.title-p h5 {
  line-height: 10px;
  letter-spacing: 1px;
}
.btn-learn {
  color: #ffffff;
  background: linear-gradient(to right, #2ed573, #221eff);
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 15%;
  padding: 10px 50px 10px;
  font-size: 25px;
  border-radius: 20px;
  border-style: none;
}
.btn-learn:hover {
  color: rgba(255, 255, 255, 0.75);
}

/* #projects css */
#projects {
  padding: 1% 15% 1%;
  background-color: rgb(15, 22, 36);
  align-items: center;
  text-align: center;
}
#projects container {
}

.rounded {
  background: linear-gradient(
    270deg,
    rgb(19, 173, 199) 0%,
    rgb(148, 93, 214) 100%
  );
  border-radius: 10px;
  height: 6px;
  width: 64px;
  margin-left: 15%;
  /* font-weight: bold; */
  /* margin-top: 5%; */
  /* display: block; */
}
h1 {
  padding: 3% 15% 1%;
  display: block;
  line-height: 10px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #ffffff;
}

/* cards section */
.card {
  box-shadow: 0 0 5px 0 rgba(22, 22, 26, 0.25);
  border-radius: 20px;
}
.card-body {
  background-color: rgb(15, 22, 36);
  color: #ffffff;
}
.card-rounded {
  border-top: 8px solid yellow;
  border-radius: 5px;
  width: 10%;
  height: 40%;
  margin-left: 40%;
  margin-top: 5%;
}
.project-styles {
  color: #ff7f50;
  font-weight: lighter;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0% 0% 0%;
  margin-top: 1%;
  margin-left: 0%;
}
.card-body ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-view {
  color: rgb(212, 192, 192);
  font-size: 1.6rem;
  /* padding: 1rem 1.5rem; */
  background: rgb(107, 48, 48);
  border-radius: 15px;
  transition: all 0.5s ease 0s;
  font-family: Optima, sans-serif;
  border-style: none;
  margin-bottom: 7%;
  align-items: center;
  text-align: center;
  min-height: 50px;
  min-width: 100%;
}
button:hover {
  background-color: #b33939;
}

/* tech section */
#tech {
  padding: 1% 15% 1%;
  position: relative;
  z-index: 1;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #ffffff;
  padding: 0px 0px;
  text-align: start;
}
.tech-p {
  color: #747d8c;
  padding: 1% 15% 1%;
}
.tech-p p {
  max-width: 800px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.icons {
  color: rgb(19, 173, 199);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.feature-box h3 {
  color: #ffffff;
  padding-top: 3%;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.feature-box p {
  font-size: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.feature-box img {
  width: 50%;
  height: 30%;
}
.row {
  padding: 1% 15% 1%;
}

.journey-box h3 {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
  display: flex;

  margin-bottom: 8px;
}
.journey-box p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.75);
  padding-right: 16px;
}

.achi-grid {
  width: 100%;
  color: #ffffff;
  /* background-color: #ffffff; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 24px 0px 40px;
  padding: 1% 15% 1%;
}
.grid-div {
  background: rgb(33, 45, 69);
  border-radius: 12px;
  height: 144px;
  padding: 24px;
}
.grid-div h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}
.grid-div h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.75);
}

/* footer */
.footer-styles {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, minmax(85px, 220px));
  gap: 40px;
  padding: 40px 15% 10px;
}
.footer-call {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  width: 100%;
}
.list-group h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 16px;
}
.list-group a {
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 16px;
  transition: all 0.3s ease 0s;
  position: relative;
  left: 0px;
  text-decoration: none;
  background-color: transparent;
}

/* social icons */
.social-icons {
  max-width: 1040px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.social-parg {
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  flex-wrap: wrap;
  margin-right: auto;
  padding: 0% 15% 0%;
}
.social-parg p {
  color: rgba(255, 255, 255, 0.5);
  min-width: 280px;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 30px;
  padding: 1rem;
}
.s-icons {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.fa-brands {
  margin: 20px 10px;
}

/* Media responsive */
@media screen and (max-width: 768px) {
  .container-fluid {
    width: 100%;
    max-width: 100%;
  }
  #achievements {
    padding: 24px 48px 0px;
    flex-direction: column;
  }
  .achi-grid {
    gap: 16px;
    margin: 20px 0px 32px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  .grid-div {
    height: 135px;
    padding: 16px;
  }
  .footer-styles {
    width: 100%;
    padding: 32px 0px 16px;
    gap: 16px;
    display: flex;
    flex-direction: column-reverse;
  }
  ul {
    margin: 1px;
  }
  .social-icons {
    display: flex;
    -webkit-box-pack: justify;
    flex-direction: column;
  }
  .social-parg {
    display: flex;
    justify-content: start;
    -webkit-box-align: baseline;
    align-items: baseline;
    padding: 0px 0px 0px;
    margin: 0px 0px 0px;
  }
  .social-parg p {
    padding: 0px 0px 0px;
    margin: 0px 0px 0px;
  }
  .s-icons {
    -webkit-box-pack: center;
    justify-content: center;
    padding-right: 16px;
    flex-wrap: wrap;
  }
}

/* css for box section */
